* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c9d6cd;
}

h1 {
    margin-bottom: 100px;
    font-size: 56px;
    color: #383b38;
}

#container {
    width: 90vh;
    display: flex;
    justify-content: space-around;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#board {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.btn {
    margin: 10px;
    padding: 8px 100px;
    border: none;
    background-color: #383b38;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.square {
    background: white;
}

.touchedsquare {
    background: #383b38;
}